form, input{
    display: flex;
    flex-direction: column;
}

p{
    margin-bottom: 0;
}

input, textarea{
    width: 100%;
}

button{
    background-color: #09CCF3;
    border-style: none;
    color: white;
}

.sidebar-hr{
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

